.contact
    background-color: var(--medium-blue)
    color: white
    padding: 2rem 0
    text-align: center

    h2
        font-size: 1.4rem
        
    form
        display: grid
        max-width: 250px
        margin: 1.5rem auto

        input
            border: none
        
        button
            margin-top: 0.5rem