.navbar
    >div
        display: flex
        justify-content: space-between
        padding: 1.5rem

    .navbar__logo
        max-width: 90px

        img
            width: 100%

    .navbar__links
        display: flex

        .navbar__link
            padding: 0 10px
            font-size: 0.9rem

            a
                text-decoration: none
                color: inherit
